<header>
    <nav>
      <ul id="headerUL">
        <li class="headerItem"><a href="/" class="headerA">Home</a></li>
        <li class="headerItem"><a href="/file" class="headerA">Upload File</a></li>
        <li class="headerItem"><a href="/chat" class="headerA">Chat</a></li>
        <li class="headerItem"><a href="/groups" class="headerA">Groups</a></li>
      </ul>
    </nav>
  </header>