<header>
  <nav class="nav-container">
    <div class="left">
      <button class="menu-button" onclick="toggleMenu()">&#9776;</button>
      <div id="dropdownMenu" class="dropdown-content">
        <a href="/">Home</a>
        <a href="/file">Upload File</a>
        <a href="/chat">Chat</a>
        <a href="/groups">Groups</a>
      </div>
    </div>

    <div class="center">
      <h1 class="site-title">AcadCollab</h1>
    </div>

    <div class="right">
      <% if (typeof user !== 'undefined') { %>
        <a href="/logout" class="logout-button">Logout</a>
      <% } else { %>
        <a href="/login" class="logout-button">Login</a>
      <% } %>
    </div>
  </nav>
</header>

<script>
  function toggleMenu() {
    const menu = document.getElementById('dropdownMenu');
    if (menu.style.display === 'flex') {
      menu.style.display = 'none';
    } else {
      menu.style.display = 'flex';
    }
  }
  </script>
  