<header>
  <nav>
    <ul id="headerUL">
      <li class="headerItem"><a href="/" class="headerA">Home</a></li>
      <li class="headerItem"><a href="/file" class="headerA">Upload File</a></li>
      <li class="headerItem"><a href="/chat" class="headerA">Chat</a></li>
      <li class="headerItem"><a href="/groups" class="headerA">Groups</a></li>

      <% if (typeof user !== 'undefined') { %>
        <li class="headerItem"><a href="/logout" class="headerA">Logout</a></li>
      <% } %>
    </ul>
  </nav>

  <% if (typeof user !== 'undefined') { %>
    <p style="text-align: right; margin-right: 2em;">Welcome, <%= user.username %>!</p>
  <% } %>
</header>
