<html>
    <head>
      <link rel="stylesheet" type="text/css" href="style.css">
      <link rel="preconnect" href="https://fonts.googleapis.com">
      <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
      <link href="https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap" rel="stylesheet">
    </head>
    <script src = "/socket.io/socket.io.js"></script>
    <script>
        window.onload = function() {
          var socket = io();
          var form = document.getElementById("chatForm");
          
          form.onsubmit = function(e) {
            e.preventDefault(); // prevents page reloading
            var messageInput = document.getElementById("m");
            
            //send chat message to the server
            socket.emit('chat message', messageInput.value);
            
            messageInput.value = "";
            return false;
          };
    
          socket.on('chat message', function(msg){
            var node = document.createElement("li");             
            var textnode = document.createTextNode(msg);         
            node.appendChild(textnode); 
            
            document.getElementById("messages").appendChild(node);
          });
        };     
    
    </script>
      <body>
        <%- include('../partials/header') %>
        <h1> Chat </h1>
        <%- include('../partials/chat', { groups: groups }) %>
      </body>
</html>