<html>
    <head>
        <link rel="stylesheet" type="text/css" href="style.css">
        <link rel="preconnect" href="https://fonts.googleapis.com">
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
        <link href="https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap" rel="stylesheet">
    </head>
    <body>
        <%- include('../partials/header') %>
        <h1>Create a New Group</h1>
        <% if (typeof error !== "undefined") { %>
            <div id="groupError">
                <%= error %>
            </div>
        <% } %>
        <form action="/groups" method="POST">
            <input type="text" name="groupName" placeholder="Enter group name" required>
            <button type="submit">Create Group</button>
        </form>

        <h2>Existing Groups</h2>
        <ul>
            <% groups.forEach(function(group) { %>
                <li><%= group.name %> </li>
            <% }); %>
        </ul>
    </body>
</html>