<html>
    <head>
        <link rel="stylesheet" type="text/css" href="style.css">
        <link rel="preconnect" href="https://fonts.googleapis.com">
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
        <link href="https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap" rel="stylesheet">
    </head>
    <body>
        <%- include('../partials/header') %>
        <h1>Welcome to our Academic Collaboration Platform!</h1>
        <p>This is the home page. This will be used for signing in/group management.</p>
    </body>
</html>